
body{
	background-color: #232323;
	margin: 0;
	font-family: Verdana;
}
.container{
	width: 600px;
	margin: 20px auto;
}
.square{
	float: left;
	width: 30%;
	height: 0;
	padding-bottom: 30%;
	background-color: black;
	margin: 10px;
}
#h1{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
	color: white;
	text-align: center;
}
#colorDisplay{
	font-size: 40px;
}
h1{
	/*color: white;
	text-align: center;
	margin: 0;*/
}
#message{
	display: inline-block;
	width: 30%;
	font-weight: bold;
}
#stripe{
	color: black;
	text-align: center;
	background-color: white;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}